<html>
<body>
Spotfinder was founded by Ian White last night as he procrastinated studying for his
algorithms exam. It has been an incredible journey so far and I would like to thank my mom, Rick
Sanchez, morty, and everyone else who has helped me along the way. Ranch it up!
</body>
</html>
